<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="transcodeFF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <transcodeFF.Properties.Settings>
            <setting name="srcPath" serializeAs="String">
                <value>E:\srcPath</value>
            </setting>
            <setting name="destPath" serializeAs="String">
                <value>E:\destPath</value>
            </setting>
            <setting name="SDarguments" serializeAs="String">
                <value>-c:v libx264 -strict -2 -s 1920*1080 -b 8000k -ab 128k  -r 25  -vf pad="ih*16/9/sar:ih:(ow-iw)/2:(oh-ih)/2" </value>
            </setting>
            <setting name="errorPath" serializeAs="String">
                <value>E:\errorPath</value>
            </setting>
            <setting name="XDCAMarguments1" serializeAs="String">
                <value>-vcodec mpeg2video -s 1920x1080 -b:v 50000k -maxrate 50000k -bufsize 3835k -minrate 50000k -r 25 -flags ilme -top 1 -acodec pcm_s24le -ar 48000 -pix_fmt yuv422p -profile:v 0 -level:v 2  -map 0:v  -map 0:a</value>
            </setting>
            <setting name="scanInterval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="textclearLength" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="XDCAMextension" serializeAs="String">
                <value>.mxf</value>
            </setting>
            <setting name="xdcamsuccessString" serializeAs="String">
                <value>muxing overhead:</value>
            </setting>
            <setting name="transcodeExe" serializeAs="String">
                <value>transcode01</value>
            </setting>
            <setting name="h264successString" serializeAs="String">
                <value>Weighted P-Frames:</value>
            </setting>
            <setting name="H264HDarguments" serializeAs="String">
                <value>-c:v libx264 -strict -2 -s 1920*1080 -b 8000k  -ab 128k -r 25  </value>
            </setting>
            <setting name="H264extension" serializeAs="String">
                <value>.mp4</value>
            </setting>
            <setting name="IFH264" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bitRate" serializeAs="String">
                <value>15592573</value>
            </setting>
            <setting name="XDCAMarguments2" serializeAs="String">
                <value>-vcodec mpeg2video -s 1920x1080 -b:v 50000k -maxrate 50000k -bufsize 3835k -minrate 50000k -r 25 -flags ilme -top 1 -acodec pcm_s24le -ar 48000 -pix_fmt yuv422p -profile:v 0 -level:v 2 -map 0:v</value>
            </setting>
        </transcodeFF.Properties.Settings>
    </userSettings>
</configuration>